header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
}
.infocards-paradis{
    display: flex;
    flex-wrap: wrap;
}
.paradis{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    height: auto;
    max-width: 100%;
    border-radius: 2em;
}
body{
    background-color: darkgray;
}
.topcard{
    display: flex;
    flex-wrap: wrap;
}
.main-title{
    color: white;
    font-size: 100px;
    font-family: fantasy;
    background-color: darkgreen;
    max-width: 100%;
    text-align: center;
    border-radius: 2em;
}
.countries-infocards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paradis-cities{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: auto;
    max-width: 100%;
    border-radius: 2em;
}
.paradis-landmarks{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    height: auto;
    max-width: 100%;
    border-radius: 2em;
}
.paradis-citizens{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: auto;
    max-width: 100%;
    border-radius: 2em;
}