body {
    background-color: lightgrey;
}

.font {
    font-family: cursive;
}
.peach {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    height: 50%;
    justify-content: center;
}

.peachtree-citizens-pic {
    height: 20%;
    width: 20%;
}

.peachtree-landmarks-pic {
    height: 20%;
    width: 20%;
}

.peachtree-city-pic {
    height: 20%;
    width: 20%;
}

.peachtree-country-pic {
    height: 225px;
    width: 225px;
}

.peach-dredd {
    display: flex;
}

.yes-country-pic {
    height: 10px;
    width: 15px;
}